## Question 1

**Write a for loop to print all even numbers from 2 to 20.**

In [32]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for number in numbers[1::2]:
    print(number)

2
4
6
8
10
12
14
16
18
20

## Question 2

**Create a list of names and use a for loop to print each name in uppercase.**

In [40]:
names = ["amna", "aisha", "ahmed", "ali"]
for name in names:
    print(name.upper())

AMNA
AISHA
AHMED
ALI

## Question 3

**Use a for loop with range() to print numbers from 10 to 1 in reverse order.**

In [44]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in range(10,0,-1):
    print(number)

10
9
8
7
6
5
4
3
2
1

## Question 4

**Iterate through a list of integers and print only the numbers that are divisible by 3.**

In [52]:
integers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for integer in integers:
    if integer % 3 == 0:
     print(integer)

3
6
9
12
15

## Question 5

**Write a loop that prints the squares of numbers from 1 to 10.**

In [56]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    squared = number ** 2
    print (squared)

1
4
9
16
25
36
49
64
81
100

## Question 6

**Given a list of temperatures in Celsius, use a for loop to convert each to Fahrenheit.**

In [58]:
celsius_temp = [20,15,30,25,35]
for celsius in celsius_temp:
    fahrenheit = (celsius * 9/5) + 32
    print(f"{celsius} degrees celsius in equal to {fahrenheit} degrees fahrenheit")

20 degrees celsius in equal to 68.0 degrees fahrenheit
15 degrees celsius in equal to 59.0 degrees fahrenheit
30 degrees celsius in equal to 86.0 degrees fahrenheit
25 degrees celsius in equal to 77.0 degrees fahrenheit
35 degrees celsius in equal to 95.0 degrees fahrenheit

## Question 7

**Create a for loop that prints the multiplication table of 5.**

In [64]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
for number in numbers:
    table_of_5 = number * 5
    print(f"5 * {number} = {table_of_5}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

## Question 8

**Write a program to find the sum of all numbers in a list using a for loop.**

In [68]:
numbers = [1,2,3,4,5]
sum = 0
for number in numbers:
    sum = sum + number
    print(sum)
print(f"the sum of the numbers in the list is {sum}")

1
3
6
10
15
the sum of the numbers in the list is 15

## Question 9

**Use a for loop to iterate through a string and print each character separately.**

In [70]:
string = "Manahil Zahid"
for char in string:
    print(char)

M
a
n
a
h
i
l

Z
a
h
i
d

## Question 10

**Create a list of words and use a for loop to print only the words with more than 5 letters.**

In [74]:
words = ["monitor", "keyboard", "cpu", "mouse", "desk", "chair", "microphone", "speaker"]
for word in words:
    if len(word) > 5:
        print(word)

monitor
keyboard
microphone
speaker